[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=mario
WorkingDirectory=/home/mario/sites/SITENAME/source
ExecStart=/home/mario/sites/SITENAME/virtualenv/bin/gunicorn \
--bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target

